@import "colors";

.body__wrapper * {
  transition: all ease-in-out 0.2s;
}

.content {
  max-height: calc(100vh - 100px);
  overflow-y: scroll;
  .filter {
    button {
      border: none;
      background: gray;
      color: white;
      border-radius: 10px;
      margin: 0 5px;
      &:focus {
        outline: none;
        border: 0.5px solid gray;
      }
    }
    .filter__active {
      background: lightgray;
      color: black;
    }
  }
  #load {
    width: 300px;
    height: 10px;
  }
}

@for $i from 1 through 5 {
  .cat:nth-of-type(#{$i}n + 1) > .cat-card {
    background-color: nth($bg-colors, $i);
  }   
}

.cats.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.hide {
  display: none !important;
}

.cat {
  height: 250px;
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;

  &:hover {
    .cat-card {
      width: 218px;
      height: 218px;
    }
  }

  .cat-card {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    height: 220px;
    border-radius: 10px;
    position: relative;
    .cat-card__price {
      position: absolute;
      top: 20px;
      text-align: center;
      background-image: url("../img/tag.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 30% 0;
      width: 100%;
    }
    .cat-card__image {
      position: absolute;
      width: 90%;
      height: 90%;
      background-size: contain;
      background-position: 0 5px;
    }
  }
  .cat-data {
    display: flex;
    justify-content: space-between;
    max-width: 220px;
    .cat-data__name {
      text-transform: capitalize;
      font-weight: bold;
    }
    .cat-data__category {
      font-weight: bold;
    }
  }
}
