.header {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px black;
  .header__logo,
  .header__cart {
    margin: 20px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    overflow: hidden;
    height: 50px;
    width: 50px;
  }
  .header__logo {
    background-image: url("../img/logo.svg");
  }

  .header__cart {
    background-image: url("../img/cart.svg");
    position: relative;
    display: inline-block;
  }

  .header__cart .header__cart_items {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 15px;
    /* Position the tooltip */
    position: fixed;
    width: 150px;
    padding: 15px 0;
    top: 60px;
    right: 60px;
    z-index: 1;
  }

  .header__cart_all {
    position: relative;
  }

  .header__cart:hover .header__cart_items {
    opacity: 1;
    visibility: visible;
  }

  .header__cart_items {
    box-sizing: border-box;
    opacity: 0;
    .cat.header__cart_item {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 150px;
      height: 60px;
      margin: 0 15px;
      font-size: 12px;
      &::after{
        content: 'x 1';
        margin: auto;
      }
      .cat-card {
        display: inline-block;
        width: 50px;
        height: 50px;
        margin: 5px;
        .cat-card__image {
          background-repeat: no-repeat;
        }
      }
      .cat-card__price {
        background-position-x: 3px;
        font-size: 10px;
        color: black;
        top: 5px;
      }
      .cat-data {
        .cat-data__name {
          display: block;
          margin: auto;
        }
        .cat-data__id {
          display: none;
        }
        .cat-data__category {
          display: none;
        }
      }
      &:hover {
        .cat-card {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}
