.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: solid 1px black; }
  .header .header__logo, .header .header__cart {
    margin: 20px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    overflow: hidden;
    height: 50px;
    width: 50px; }
  .header .header__logo {
    background-image: url("../img/logo.svg"); }
  .header .header__cart {
    background-image: url("../img/cart.svg");
    position: relative;
    display: inline-block; }
  .header .header__cart .header__cart_items {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    /* Position the tooltip */
    position: fixed;
    width: 150px;
    padding: 15px 0;
    top: 50px;
    right: 50px;
    z-index: 1; }
  .header .header__cart_all {
    position: relative; }
  .header .header__cart:hover .header__cart_items {
    visibility: visible; }
  .header .header__cart_items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .header .header__cart_items .cat.header__cart_item {
      width: 50px;
      height: 50px; }
      .header .header__cart_items .cat.header__cart_item .cat-card {
        width: 50px;
        height: 50px; }
      .header .header__cart_items .cat.header__cart_item .cat-card__price {
        display: none; }
      .header .header__cart_items .cat.header__cart_item .cat-data {
        display: none; }
      .header .header__cart_items .cat.header__cart_item:hover .cat-card {
        width: 50px;
        height: 50px; }

.content {
  max-height: calc(100vh - 100px);
  overflow-y: scroll; }
  .content .filter button {
    border: none;
    background: gray;
    color: white;
    border-radius: 10px;
    margin: 0 5px; }
    .content .filter button:focus {
      outline: none;
      border: 0.5px solid gray; }
  .content .filter .filter__active {
    background: lightgray;
    color: black; }

.cat:nth-of-type(1n + 1) > .cat-card {
  background-color: #cef4d5; }

.cat:nth-of-type(2n + 2) > .cat-card {
  background-color: #d4e8fe; }

.cat:nth-of-type(3n + 3) > .cat-card {
  background-color: #faeefa; }

.cat:nth-of-type(4n + 4) > .cat-card {
  background-color: #e5f3e3; }

.cat:nth-of-type(5n + 5) > .cat-card {
  background-color: #fce9e4; }

.cats.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.hide {
  display: none !important; }

.cat {
  height: 250px;
  width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px; }
  .cat:hover .cat-card {
    width: 215px;
    height: 215px; }
  .cat .cat-card {
    -webkit-transition: all ease-in 0.2s;
    transition: all ease-in 0.2s;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 220px;
    height: 220px;
    border-radius: 10px;
    position: relative; }
    .cat .cat-card .cat-card__price {
      position: absolute;
      top: 20px;
      text-align: center;
      background-image: url("../img/tag.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 30% 0;
      width: 100%; }
    .cat .cat-card .cat-card__image {
      position: absolute;
      width: 90%;
      height: 90%; }
      .cat .cat-card .cat-card__image img {
        width: 100%;
        height: 100%; }
  .cat .cat-data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 220px; }
    .cat .cat-data .cat-data__name {
      text-transform: capitalize;
      font-weight: bold; }
    .cat .cat-data .cat-data__category {
      font-weight: bold; }
